{% extends "layout.html" %}
{% block content %}
<div class="card" style="width: 18rem;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
      <legend class="border-bottom mb-4">Maintainer</legend>
      <h5 class="card-title">Himanshu Bahukhandi</h5>
      <p>Version : {{ config['BUILD'] }}</p>
      <p class="card-text">himanshu.surendra@gmail.com </p>
      <p class="card-text">himanshu.surendra@gmail.com </p>
      <a href="https://github.com/bhimanshu2025" class="btn btn-primary">Git</a>
    </div>
</div>

{% endblock %}
