{% extends "layout.html" %}
{% block content %}
<legend class="border-bottom mb-4">Teams</legend>
<table class="table table-hover table-sm table-striped table-bordered border-primary align-top">
  <caption>List of all teams</caption>
    <thead>
      <tr>
        <th scope="col">Teamname</th>
        <th scope="col">Email</th>
        <th scope="col">Users</th>
        <th scope="col">MS Webhook</th>
        <th scope="col">Operations</th>
      </tr>
    </thead>
    <tbody>
      {% for team in teams %}
      <tr>
            {% if (current_user.admin and current_user.teamname == team.teamname) or current_user.username == "admin" %}
              <th scope="col"><a href="{{ url_for('teams_b.edit_team', teamname=team.teamname) }}">{{ team.teamname }}</a></th>
            {% else %}
              <th scope="col">{{ team.teamname }}</th>
            {% endif %}
            <th scope="col">{{ team.email }}</th>
            <th scope="col">{{ team.users }}</th>
            {% if team.mswebhook != "" %}
              <th scope="col">Configured</th>
            {% else %}
              <th scope="col">None</th>
            {% endif %}
            {% if (current_user.admin and current_user.teamname == team.teamname) or current_user.username == "admin"  %}
              <th scope="col"><a href="{{ url_for('teams_b.delete_team', teamname=team.teamname) }}" onclick="return confirm('Delete team {{ team.teamname }}?')"><img class="icons-img" src="{{ url_for('static', filename='icons/trash.png') }}"></a><a href="{{ url_for('teams_b.edit_team', teamname=team.teamname) }}"><img class="icons-img" src="{{ url_for('static', filename='icons/edit.png') }}"></a></th>
            {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}